@inherits LayoutComponentBase
@inject ILogger<MainLayout> Logger_

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
<!--
    <div class="sidebar">
        <NavMenu />
    </div>
-->
    <main>
        <!--
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
            </article>
    -->
        <div class="top-row px-4">
            <p>Pokemon SV Damage Calculator</p>
        </div>
        <MudLayout>
            <MudMainContent>
                <MudGrid Spacing="@spacing" Justify="Justify.Center">
                    <MudItem xs="4" />
                    <MudItem xs="4">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                    <MudForm>
                            <MudRadioGroup @bind-SelectedOption="@SelectedBattleStyle">
                                <MudRadio Option="@("0")">シングル</MudRadio>
                                <MudRadio Option="@("1")">ダブル</MudRadio>
                            </MudRadioGroup>
                        </MudForm>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="4" />

                    <MudItem xs="6">
                            <MudForm>
                                <MudRadioGroup @bind-SelectedOption="@SelectedWeatherSettings">
                                    <MudGrid Spacing="@spacing" Justify="Justify.Center">
                                    <MudItem xs="1" />
                                    <MudItem xs="2">
                                        <MudRadio Option="@("0")" Size="Size.Small">‐</MudRadio>
                                    </MudItem>
                                    <MudItem xs="2">
                                    <MudRadio Option="@("1")" Size="Size.Small">晴れ</MudRadio>
                                    </MudItem>
                                    <MudItem xs="2">
                                    <MudRadio Option="@("2")" Size="Size.Small">雨</MudRadio>
                                    </MudItem>
                                    <MudItem xs="2">
                                    <MudRadio Option="@("3")" Size="Size.Small">砂嵐</MudRadio>
                                    </MudItem>
                                    <MudItem xs="2">
                                    <MudRadio Option="@("4")" Size="Size.Small">雪</MudRadio>
                                    </MudItem>
                                    <MudItem xs="1" />
                                    </MudGrid>
                                </MudRadioGroup>
                            </MudForm>
                    </MudItem>
                    <MudItem xs="6">
                            <MudForm>
                                <MudRadioGroup @bind-SelectedOption="@SelectedFieldSettings">
                                    <MudGrid Spacing="@spacing" Justify="Justify.Center">
                                    <MudItem xs="1" />
                                    <MudItem xs="2">
                                    <MudRadio Option="@("0")" Size="Size.Small">‐</MudRadio>
                                    </MudItem>
                                    <MudItem xs="2">
                                        <MudRadio Option="@("1")" Size="Size.Small">エレキ</MudRadio>
                                    </MudItem>
                                    <MudItem xs="2">
                                        <MudRadio Option="@("2")" Size="Size.Small">グラス</MudRadio>
                                    </MudItem>
                                    <MudItem xs="2">
                                        <MudRadio Option="@("3")" Size="Size.Small">サイコ</MudRadio>
                                    </MudItem>
                                    <MudItem xs="2">
                                        <MudRadio Option="@("4")" Size="Size.Small">ミスト</MudRadio>
                                    </MudItem>
                                    <MudItem xs="1" />
                                </MudGrid>
                            </MudRadioGroup>
                            </MudForm>
                    </MudItem>

                    <MudItem xs="2">
                            <MudForm>
                            <MudCheckBox @bind-Checked="@Gravity" Size="Size.Small" Label="じゅうりょく" Margin="Margin.Dense"></MudCheckBox>
                            </MudForm>
                    </MudItem>
                    <MudItem xs="2">
                            <MudForm>
                            <MudCheckBox @bind-Checked="@WonderRoom" Size="Size.Small" Label="ワンダールーム" Margin="Margin.Dense"></MudCheckBox>
                            </MudForm>
                    </MudItem>
                    <MudItem xs="2">
                            <MudForm>
                            <MudCheckBox @bind-Checked="@PlasmaShower" Size="Size.Small" Label="プラズマシャワー" Margin="Margin.Dense"></MudCheckBox>
                            </MudForm>
                    </MudItem>
                    <MudItem xs="2">
                            <MudForm>
                            <MudCheckBox @bind-Checked="@FairyAura" Size="Size.Small" Label="フェアリーオーラ" Margin="Margin.Dense"></MudCheckBox>
                            </MudForm>
                    </MudItem>
                    <MudItem xs="2">
                            <MudForm>
                            <MudCheckBox @bind-Checked="@DarkAura" Size="Size.Small" Label="ダークオーラ" Margin="Margin.Dense"></MudCheckBox>
                            </MudForm>
                    </MudItem>
                    <MudItem xs="2">
                            <MudForm>
                            <MudCheckBox @bind-Checked="@AuraBreak" Size="Size.Small" Label="オーラブレイク" Margin="Margin.Dense"></MudCheckBox>
                            </MudForm>
                    </MudItem>

                    <MudItem xs="4">
                        <PokemonStatus Title="ポケモン1"></PokemonStatus>
                    </MudItem>
                    <MudItem xs="4">
                        <DamageResult Title="ダメージ計算一覧1"></DamageResult>
                    </MudItem>
                    <MudItem xs="4">
                        <PokemonStatus Title="ポケモン2"></PokemonStatus>
                    </MudItem>

                    <MudItem xs="4" />
                    <MudItem xs="4">
                        <DamageResult Title="ダメージ計算一覧2"></DamageResult>
                    </MudItem>
                    <MudItem xs="4" />
                </MudGrid>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>

@code {
    [CascadingParameter] private UnexpectedException UnexpectedException_ { get; set; }
    public int spacing { get; set; } = 2;

    public string? SelectedBattleStyle { get; set; }
    public string? SelectedWeatherSettings { get; set; }
    public string? SelectedFieldSettings { get; set; }
    private void Reset()
    {
        SelectedBattleStyle = null;
        SelectedWeatherSettings = null;
        SelectedFieldSettings = null;
    }

    public bool Gravity { get; set; } = false;
    public bool WonderRoom { get; set; } = false;
    public bool PlasmaShower { get; set; } = false;
    public bool FairyAura { get; set; } = false;
    public bool DarkAura { get; set; } = false;
    public bool AuraBreak { get; set; } = false;
}