@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
<!--
    <div class="sidebar">
        <NavMenu />
    </div>
-->
    <main>
        <!--
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
            </article>
    -->
        <div class="top-row px-4">
            <p>Pokemon SV Damage Calculator</p>
        </div>

        <MudLayout>
            <MudMainContent>
                <MudGrid Spacing="@spacing" Justify="Justify.Center">
                    <MudItem xs="12">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudRadioGroup @bind-SelectedOption="@SelectedBattleStyle">
                                    <MudRadio Option="@("Radio 1")">シングル</MudRadio>
                                    <MudRadio Option="@("Radio 2")">ダブル</MudRadio>
                                </MudRadioGroup>
                            </MudForm>
                        </MudPaper>
                    </MudItem>

                    <MudItem xs="6">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudRadioGroup @bind-SelectedOption="@SelectedWeatherSettings">
                                    <MudRadio Option="@("Radio 3")">‐</MudRadio>
                                    <MudRadio Option="@("Radio 4")">晴れ</MudRadio>
                                    <MudRadio Option="@("Radio 5")">雨</MudRadio>
                                    <MudRadio Option="@("Radio 6")">砂嵐</MudRadio>
                                    <MudRadio Option="@("Radio 7")">雪</MudRadio>
                                </MudRadioGroup>
                            </MudForm>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudRadioGroup @bind-SelectedOption="@SelectedFieldSettings">
                                    <MudRadio Option="@("Radio 8")">‐</MudRadio>
                                    <MudRadio Option="@("Radio 9")">エレキフィールド</MudRadio>
                                    <MudRadio Option="@("Radio 10")">グラスフィールド</MudRadio>
                                    <MudRadio Option="@("Radio 11")">サイコフィールド</MudRadio>
                                    <MudRadio Option="@("Radio 12")">ミストフィールド</MudRadio>
                                </MudRadioGroup>
                            </MudForm>
                        </MudPaper>
                    </MudItem>

                    <MudItem xs="2">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudCheckBox @bind-Checked="@Gravity" Label="じゅうりょく"></MudCheckBox>
                            </MudForm>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="2">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudCheckBox @bind-Checked="@WonderRoom" Label="ワンダールーム"></MudCheckBox>
                            </MudForm>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="2">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudCheckBox @bind-Checked="@PlasmaShower" Label="プラズマシャワー"></MudCheckBox>
                            </MudForm>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="2">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudCheckBox @bind-Checked="@FairyAura" Label="フェアリーオーラ"></MudCheckBox>
                            </MudForm>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="2">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudCheckBox @bind-Checked="@DarkAura" Label="ダークオーラ"></MudCheckBox>
                            </MudForm>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="2">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">
                            <MudForm>
                                <MudCheckBox @bind-Checked="@AuraBreak" Label="オーラブレイク"></MudCheckBox>
                            </MudForm>
                        </MudPaper>
                    </MudItem>

                    <MudItem xs="4">
                        <PokemonStatus Title="ポケモン1"></PokemonStatus>
                    </MudItem>
                    <MudItem xs="4">
                        <MudPaper>ダメージ計算一覧1</MudPaper>
                        <SurveyPrompt></SurveyPrompt>
                    </MudItem>
                    <MudItem xs="4">
                        <PokemonStatus Title="ポケモン2"></PokemonStatus>
                    </MudItem>

                    <MudItem xs="4">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-1">ダメージ計算一覧2</MudPaper>
                    </MudItem>
                </MudGrid>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>

@code {
    public int spacing { get; set; } = 2;

    public string SelectedBattleStyle { get; set; }
    public string SelectedWeatherSettings { get; set; }
    public string SelectedFieldSettings { get; set; }
    private void Reset()
    {
        SelectedBattleStyle = null;
        SelectedWeatherSettings = null;
        SelectedFieldSettings = null;
    }

    public bool Gravity { get; set; } = false;
    public bool WonderRoom { get; set; } = false;
    public bool PlasmaShower { get; set; } = false;
    public bool FairyAura { get; set; } = false;
    public bool DarkAura { get; set; } = false;
    public bool AuraBreak { get; set; } = false;
}